:root {
	color-scheme: light dark;
	/* specs */
	--bg: light-dark(#ffe7de, #291c1c);
	--fg: light-dark(#2e2020, #ffe9de);
	--link: light-dark(#5c4040, #ffd5cc);
	--link-bg: light-dark(#5c404066, #ffd5cc66);
	--details: light-dark(#ffe4dc, #2e1e1e);
	--contact: light-dark(var(--link), var(--fg));
	--shadow: #00000033;
	--border: light-dark(#bca29f, #50333a);
	--border-r: 1.4rem; /*rounded corners*/
	--border-s: 0.22rem; /*size of borders*/
	/*sitewide adjustments*/
	min-height: 100%;
	overflow-x: hidden;
	box-shadow: inset 0 0 1rem 0 #000;
	background: var(--bg);
	color: var(--fg);
	scrollbar-color: var(--fg) var(--details);
	font-family: 'text';
	font-size: 1.1em;
	text-rendering: optimizeLegibility;
}
:focus-visible {
	outline: .28rem solid #f2cab6;
}
a {
	color: var(--link);
	text-decoration-style: dashed;
	transition: text-shadow .2s;
}
a:hover {text-shadow: 0 0 .4rem var(--link-bg);}
::selection {
	background: var(--fg);
	color: var(--bg);
}

#site-footer {
	height: 1.6rem;
	min-height: 1.6rem;
	background-color: var(--details);
	border: var(--border-s) solid var(--border);
	box-sizing: border-box;
	border-radius: 2rem;
	color: var(--fg);
	width: 100%;
	padding: 0 0 0.1rem;
	margin: 0 0 1.7rem;
	p {margin: 0 0.5rem;}
	ul {
		font-size: 1rem;
		text-align: center;
		padding-left: 0;
		margin: 0;
		overflow: auto hidden;
		white-space: nowrap;
	}
	li {
		display: inline;
	}
	li:not(:first-child)::before {content: ' • ';}
}

.screenreader {
	position: absolute;
	z-index: -1;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
}
