/* the main color codes are in base.css this file contains stuff i have to override in home.css */
#intro {
	filter: invert(10%) sepia(28%) saturate(600%) hue-rotate(-46deg) brightness(50%);
	&:hover {
		filter: invert(10%) sepia(28%) saturate(600%) hue-rotate(-46deg) brightness(70%);
	}
}
details img {
	filter: brightness(90%) sepia(10%) saturate(150%) invert(5%) hue-rotate(-10deg);
			opacity: 75%;
			&:hover {
				filter: brightness(90%);
				opacity: 100%;
			}
}
