main {margin-top: 1.7rem;}
#introimg {width: 7.25rem;}
#intro:hover + span {
	transform: translateY(-1.75rem);
}

details {
	display: inline; /* so the border fits around it */
	border-radius: 1rem;
	margin-top: 0.2rem;
	&[open] {
		border-radius: 0 2rem 2rem;
		summary {font-size: 1.1rem;}
	}
	li {margin: 0 0.6rem 0;}
	@media (min-width: 30rem) {
		li {
			margin: 0 -.5rem !important;
			&:hover {
				position: relative;
				z-index: 2;
			}
		}
	}
}

#boxes {
  margin: 1rem 0 0.3rem;
  gap: .3rem;
}
#blog {border-radius: var(--border-r) 0 0;}
#contact {
  max-width: 4.45rem;
  ul {display: inline;}
}
label {
	display: block;
	span {
		left: -200%;
		font-size: 0.95rem;
		transform: translateY(80%); /*can't use top because webkit?*/
	}
}
li:first-child svg {border-radius: 0 var(--border-r) 0 0;}
input:checked + label {
	li:first-child > & > svg {border-radius: var(--border-r) var(--border-r) 0;}
	& svg {
		border-radius: var(--border-r) 0 0 var(--border-r);
	}
}

#site-footer {border-radius: 0 0 var(--border-r) var(--border-r);}

details:not([open]):hover, #intro:hover, img:hover {
	transform: scale(1.11); /* zoom effect */
}
#contact li:hover {
	transform: scale(1.11) translateX(-0.2rem);
}
details:not([open]):hover, #intro:hover, #contact li:hover, svg:hover {
  background-color: var(--bg);
}
@media not (prefers-reduced-motion) { /* animations */
	@keyframes sweep {
		/* attempting to animate it by changing height doesn't work because hiding overflow-y changes the layout for some reason? chromium forced me to use a gigantic fucking circle because they don't support clip pathing rectangles???? except UPDATE this works on chromium only once and then breaks on subsequent tries. this also probably should be updated if/when calc-size drops on browsers other than chromium because it's inconsistent and only works on larger monitors */
		/*		0% {clip-path: rect(0 0 0 100%);}
		 *100% {clip-path: rect(0 0 100% 100%);}*/
		0% {
			opacity: 0%;
			clip-path: circle(90rem at 50% -500%);
		}
		100% {
			opacity: 100%;
			clip-path: circle(108rem at 50% -500%);
		}
	}
	details {
		transition: height .2s, width 5s;
		height: 1.5rem; /* needed for the opening animation */
		&[open] {
			@media (min-width: 26rem) {height: 26.3rem;} /* cursed but necessary until calc-size drops on more browsers. this is so inconsistent across browsers they render the text differently */
			@media (min-width: 29.6rem) {height: 24.5rem;}
			@media (min-width: 30rem) {height: 21.5rem;}
			@media (min-width: 31.9rem) {
				height: 20.5rem;
				&[open] #sona-mi {animation: sweep .2s;}
			}
		}
	}
	details img, li, #intro, details:not([open]) {transition: transform .2s cubic-bezier(0,0,0,1.75), box-shadow .2s cubic-bezier(0,0,0,1.75), filter .2s, background-color .2s, opacity .2s;}
	p, span {transition: opacity .2s;}
	#blog img {transition: transform .15s cubic-bezier(0,0,0,1.75)}
	svg {transition: background-color .2s, max-width .2s ease, border-radius .2s;}
	path, circle {transition: opacity .15s;}
}
