@font-face {
	font-family: 'text';
	src: local("nasin-nanpa"),
	url('fonts/nasinnanpa.woff2') format('woff2');
}
@font-face {
	font-family: 'cc';
	src: local("CCSymbols"),
	url('fonts/cc.woff2') format('woff2');
}
@font-face {
	font-family: 'latin';
	src: local("Blooming Grove"),
	url('fonts/bloominggrove.woff2') format('woff2');
}

/*centering site*/
html {overflow: hidden;}
body {
	display: flex;
	align-items: center;
	justify-content: safe center; /* the safe keeps it from overflowing on top */
	height: 100vh;
	flex-direction: column;
	overflow: hidden auto;
	margin: 0 0.7rem 0 0.7rem;
}
main {
	max-width: 28rem;
	width: 100%;
}

#introcontainer {position: relative;} /* so the song name (pos:absolute) doesn't cause an overflow */
#song-name {
	display:block;
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 7.25rem;
	font-family: 'latin';
	text-align: center;
	color: var(--link);
	@media not (prefers-reduced-motion) {
		transition: transform .2s cubic-bezier(0,0,0,2), opacity .2s;
	}
}
#intro {
	display: grid;
	position: relative;
	z-index: 2;
	color: inherit;
	border: inherit;
	font: inherit;
	padding: 0;
	float: left;
	margin: 0 1rem 0.25rem 0;
	overflow: hidden;
	cursor: pointer;
	background: none;
	border-radius: 40%;
	box-shadow: 0 .28rem 1.42rem .17rem var(--shadow); /* ideally it'd be on an ::after and the animation would be done via opacity because animating this does take more resources but i came to the idea of glowy shadows quite late in development and i'd have to rewrite the thing to make ::after work here (currently is hidden by overflow)*/
	filter: invert(10%) sepia(28%) saturate(200%) hue-rotate(-46deg) brightness(91%) contrast(90%); /* this changes the color of the picrew, i chose it over having a separate picture for every style to make the website slimmer */
	&:hover{
		filter: invert(10%) sepia(28%) saturate(200%) hue-rotate(-46deg) brightness(100%) contrast(95%);
		box-shadow: 0 0 3rem -.5rem gray;
/* 	box-shadow: 0 0 3rem var(--link-bg);	looks way nicer on firefox but doesn't apply consistently across browsers */
		&+span {opacity: 1;}
	}
  picture {
  	grid-column: 1;
	  grid-row: 1;
	  pointer-events:none;
	}
}
#introimg {float: left;}
audio {
	width: 5.7rem;
	height: 7.25rem;
	grid-column: 1;
	grid-row: 1;
	transform: scale(4,4) translate(1.5rem, -2.2rem);
	opacity: 0%;
	&:focus-visible {
		opacity: 75%;
		z-index: 7;
	}
	&::-webkit-media-controls-mute-button, &::-webkit-media-controls-timeline, &::-webkit-media-controls-volume-slider {display: none !important;}
	@supports not selector(audio::-webkit-media-controls-mute-button) {
		width: 3.3rem;
		transform: scale(4,4) translate(0.9rem, -2.5rem);
		filter: brightness(500%);
	}
}

h1 {
	white-space: pre-wrap; /* necessary for font */
	font-weight: 600;
	font-size: 1.75rem;
	margin: 0;
}
dfn {
	font-style: normal;
}
#name {
	text-shadow: 0 0 .4rem var(--link-bg);
}

details {
	font-size: 1.075rem;
	background-color: var(--details);
	border: var(--border-s) dashed var(--border);
	&:not([open]) {box-shadow: 0 0 0.57rem -0.35rem var(--fg);}
	&[open] {
		display: list-item;
		list-style: none; /* recreating default behavior of details because the display:inline overrode it*/
	}
	padding: 0 0.2rem;
	summary h2:hover {
		text-shadow: 0 0 .4rem var(--link-bg);
	}
	p {
		white-space: pre-wrap; /* necessary for this font */
		text-indent: 1rem;
		margin: 0.3rem 0;
	}
	footer {
		a {text-decoration: none;}
	}
	ul {
		padding: 0;
		margin: 0;
		display:flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	li {
		display: inline-block;
	}
	img {
		width: 7.25rem;
		height: 2.5rem;
		opacity: 85%;
		filter: sepia(30%) saturate(90%) invert(5%);
		&:hover {
			filter: sepia(15%) saturate(95%) invert(2%);
			opacity: 100%;
		}
	}
}
h2 {
	margin: 0;
	font-size: 1.15rem;
	font-weight: normal;
	font-style: italic;
}
summary {
	border-radius: var(--border-r);
	padding: 0 1.1rem;
	cursor: pointer;
	h2 {
		margin: 0;
		display: inline;
	}
}
.emoticon {
	letter-spacing: 0.01rem;
	color: var(--link);
}

#boxes {display: flex;}
#blog {
	height: 10rem;
	flex: 5 5 auto;
	background-color: var(--details);
	border: var(--border-s) solid var(--border);
	color: var(--fg);
	font-size: 1.1rem;
	align-items: stretch;
	position: relative;
	h2 {
		padding: 0 0 0 1rem;
		border-bottom: var(--border-s) solid var(--border);
	}
	ul {
		position: absolute;
		display: flex;
		overflow: auto hidden;
		width: 100%;
		height: 8.2rem;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			position: relative;
			overflow: hidden;
			font-family: 'latin';
			flex: 15rem 0 0;
			margin: 0.5rem 0.7rem 0.5rem 0.5rem;
			border-radius: var(--border-r);
			box-shadow: 0 0 1rem .23rem var(--shadow);
			background-color: var(--details);
			&:hover {background-color: var(--bg);}
			img {
				position: absolute;
				width: 15.4rem;
				left: -.2rem;
				top: -.3rem;
				opacity: 40%;
				z-index: 1;
			}
			a {
				display:inline-block;
				width: 100%; height: 100%;
				color: var(--fg);
				text-decoration: none;
				border-radius: var(--border-r);
				outline-offset: -.28rem;
				&:hover {
					text-decoration-line: underline;
					text-decoration-style: dashed;
				}
			}
			h3 {
				font-weight: normal;
				pointer-events: none;
				position: relative;
				z-index: 2;
				margin: 1.7rem 1rem;
				line-height: 1.3rem;
				text-shadow: 0 0 .4rem light-dark(#ffe9dee6, #2e1e1ee6);
			}
		}
	}
}

#contact {
	flex: 1 0 auto;
	width: 100%;
	height: 10rem;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		height: 3.3rem;
		z-index: 3;
		position: relative;
		margin-bottom: .2rem;
	}
}
svg {
	border-radius: 0;
	position: absolute;
	background-color: var(--details);
	border: var(--border-s) dashed var(--border);
	box-sizing: border-box;
	width: 300%;
	padding: 5% 0;
	max-width: 4.45rem;
	max-height: 100%;
	right: 0;
	z-index: 5;
	cursor: pointer;
}
path {
	stroke: var(--contact);
	fill: none;
}
#fedi path {stroke-width: 11.5;}
#matrix {
	padding: 10% 0;
}
#matrix path, circle {fill: var(--contact);}
#mail {
	stroke-linejoin:round;
	stroke-width:4;
}
label span {
	visibility: collapse;
	user-select: all;
	opacity: 0%;
	position: absolute;
	z-index: 3;
	font-family:'latin';
	text-align: center;
	width: 300%;
	max-width: 300%;
}
input {
	position: absolute;
	opacity: 0;
	&:focus-visible {
		z-index: 6;
		opacity: 75%;
	}
	&:checked + label {
		svg {
			position: absolute;
			max-width: 300%;
			box-shadow: 0 .28rem 1.42rem .17rem var(--shadow);
			path, circle {
				opacity: 0%;
			}
		}
		span {
			visibility: unset;
			position: relative;
			z-index: 10;
			display: inline-block;
			opacity: 100%;
			margin: 0;
		}
	}
}

#site-footer {
	max-width: 28rem;
	li {
		position: relative; /* so any screenreader-only text (position:absolute) doesn't break the layout of the page */
		&:not(:first-child)::before {
			margin: 0 .3rem;
		}
	}
}
time {font-family: 'latin';}
a[rel="license"] {font-family: 'cc', 'text';}
