main {margin-top: auto;}
@media (max-width: 21rem) {
	body {
		margin: 0 0.25rem 0 0.25rem; /* thinner margins on thin devices */
	}
}

h1 {text-align: center;}
#introcontainer {
	width: 100%;
	display: flex;
	justify-content: safe center;
	margin: 1rem 0 0.25rem;
}
#intro {
	margin: 0;
	&:hover + span {
		transform: translateY(-1.4rem);
	}
}
#introimg {width: 8.25rem;}
details {
	border-radius: 1.3rem 1.3rem 0 0;
	margin: .5rem 0 0 0;
	&[open] {border-radius: 1rem;}
	picture {margin: 0 0 0.4rem;}
	@media (min-width: 20rem) {
		picture {
			margin: 0 0.4rem 0.4rem !important;
		}
	}
}
summary {
	font-size: 1.1rem;
	margin: 0.3rem 0;
	width: 83vw;
}
@media only screen and (max-device-width: 20.57rem) {
	footer img {margin: 0 0.1rem 0 0 !important;}
}

main:has(details[open]) {
	#blog {border-radius: var(--border-r) var(--border-r) 0 0;}
}
#boxes {
	margin: 0.3rem 0 1rem;
	flex-wrap: wrap;
	& div {position:relative;}
}
#blog {
	margin: 0;
	border-radius: 0;
	h2{white-space: nowrap;}
}
#contact {
	margin: 0.3rem 0;
	ul {
	  display: flex;
	  width: 100%;
	}
	li {
		height: 2.5rem;
		z-index: unset !important;
	}
}
li:hover {transform: unset !important;}
input:checked + label {
	svg {width: 100%;}
	#contact li:not(:has(&)) {
		flex: 1 1 1rem !important;
	}
	#contact li:has(&) {
	flex: 1 1 10rem !important;
	}
}
label span {
	left: -150%;
	text-align: center;
	padding: 7% 0;
	width: 400%;
	max-width: 400%;
}
svg {
	position: unset !important;
	padding: 0;
	max-width: 100%;
}
#matrix {padding: 0.1rem 0;}

/* specific contact buttons positioning */
@media (min-width: 17.5rem) { /* most phones etc */
	#contact {
		max-height: 2.5rem;
		li {
			margin-right: 0.3rem;
			flex: 1 1 auto;
		}
		li:first-child svg {border-radius: 0 0 0 var(--border-r);}
		li:last-child {
			margin: 0;
			svg {border-radius: 0 0 var(--border-r);}
		}
	}
	label span {
		bottom: clamp(2.9rem, 16.5vw, 3.15rem); /* i really am just guessing these vw values */
		font-size: clamp(.8rem, 4.5vw, .95rem);
	}
}
@media (max-width: 17.5rem) { /* for super tiny screens */
	#boxes {max-height: 100%;}
	#contact {
		max-height: 7.5rem;
		ul {
			max-height: 7.5rem;
			flex-direction: column;
		}
		li {
			margin-right: 0;
			&:last-child svg {
				border-radius: 0 0 var(--border-r) var(--border-r);
			}
		}
	}
	label span {
		bottom: clamp(2.5rem, 2rem + 8vw, 3.15rem); /* still kinda guessing these values i think you're supposed to do it mathematically */
		font-size: clamp(.5rem, .2rem + 5vw, .95rem);
	}
}

#site-footer {
	margin-top: auto;
	margin-bottom: 4rem;
}
