@font-face {
	font-family: 'text';
	src: local('Atkinson Hyperlegible Regular'),
	url('fonts/Atkinson.woff2') format('woff2');
}
@font-face {
	font-family: 'text';
	src: local('Atkinson Hyperlegible Italic'),
	url('fonts/Atkinson-Italic.woff2') format('woff2');
	font-style: italic;
}
@font-face {
	font-family: 'mono';
	src: local('Fantasque Sans Mono Bold'),
	url('../fonts/fantasque-bold.woff2') format('woff2');
	font-weight: bold;
}

/*centering site*/
body {
	max-width: 30rem;
	margin: 0 auto;
	padding: 1.7rem 0.5rem 0 0.5rem;
	@media (max-width: 21rem) {
		padding: 1.7rem 0.25rem 0 0.25rem; /* thinner margins on thin devices */
	}
}

body > header {
	font-family: "mono";
	display: flex;
	justify-content: center;
	/* temporary */
	a {
		color: var(--fg);
		text-decoration-line: none;
		&:hover {text-decoration-line: underline;}
	}
/*	& ul { for when i have a full on blog page
		padding-left: 0.8rem;
		list-style-type: none;
		font-size: 1.25rem;
	}*/
}
#logo {
	display: grid;
	width:7.2rem;
	img, span {
		grid-column: 1;
		grid-row: 1;
	}
	img {
		width: 5.3rem;
		margin-left: auto;
		margin-right: auto;
		/* coloring circle-A here to reduce page size, complexity */
		opacity: 80%;
		filter: saturate(100%) invert(23%) sepia(8%) saturate(2228%) hue-rotate(308deg) brightness(91%) contrast(88%);
		@media (prefers-color-scheme: light) {
			opacity: 40%;
		}
	}
	span { /* text over circle-A */
		margin: auto;
		font-weight: bold;
		font-size: 2rem;
		text-align: center;
		z-index: 1;
		line-height: 0.7;
	}
}

h1 {
	font-family: "mono";
	font-size: 1.75rem;
	margin: 1.5rem 0 0;
	position: relative;
	z-index: 2;
	text-shadow: 0 3px 5px rgb(46 32 32 / .7);
	@media (prefers-color-scheme: light) {
		text-shadow: 0 3px 5px rgb(255 233 222 / .7);
	}
}
h2 {
	font-family: "mono";
	font-size: 1.4rem;
	text-align: center;
	margin: 1.5rem 0 0;
}
time {
	/*-webkit-text-stroke: 2px var(--bg);
	 *    paint-order: stroke fill;*/
	position: relative;
	z-index: 2;
	text-shadow: 0 0 4px var(--bg);
}
article {
	margin-bottom: 1.7rem;
	header{
		display: grid;
		margin-bottom: .5rem;
		div {
			height: fit-content;
			margin-left: 0.7rem;
			grid-column: 1;
			grid-row: 1;
		}
	}
	h1 {margin-top: 1rem;}
	img {
		grid-column: 1;
		grid-row: 1;
		width: 100%;
		height: 20rem;
		object-fit: cover;
		border-radius: var(--border-r);
		mask-image: linear-gradient(rgba(0,0,0,0.05),  rgba(0,0,0,1) 60%);
	}
	p {
		hyphens: auto;
		text-indent: 1.5rem;
		margin: 0.25rem 0 0;
	}
}
